<div id="footer">
  <div class="container">
    <nav class="nav nav-inline">
      <a class="nav-link" href="{{ site.baseurl }}/datenschutzerklaerung/">Datenschutzerklärung</a>
      <a class="nav-link" href="{{ site.baseurl }}/impressum/">Impressum</a>
    </nav>
  </div>
</div>

<script src="/assets/js/jquery-3.1.1.min.js"></script>
<script src="/assets/js/bootstrap.bundle.min.js"></script>
<script src="/assets/js/main.js"></script>
