<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>{% if page.title %}{{ page.title }} - {{ site.title }}{% else %}{{ site.title }}{% endif %}</title>
  <meta name="description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">

  <meta name="google-site-verification" content="">
  <meta name="generator" content="Hal">
  <!-- Short description of your site's subject -->
  <meta name="subject" content="">

  <!-- Very short sentence describing the purpose of the website -->
  <meta name="abstract" content="">

  <!-- Describes the topic of the website -->
  <meta name="topic" content="">

  <!-- Brief summary of the company or purpose of the website -->
  <meta name="summary" content="">

  <meta name="ICBM" content="53.601199177456614, 11.417967975139618">
  <meta name="geo.position" content="53.601199177456614;11.417967975139618">
  <meta name="geo.region" content="country[de]">
  <meta name="geo.placename" content="Schwerin">

  <link rel="author" href="/humans.txt">

  <link rel="me" href="https://facebook.com/hacklabor" type="text/html">
  <link rel="me" href="https://twitter.com/hacklabor" type="text/html">
  <link rel="me" href="https://chaos.social/@hacklabor" type="text/html">
  <link rel="me" href="https://www.tiktok.com/@hacklabor" type="text/html">
  <link rel="me" href="https://gitlab.com/hacklabor" type="text/html">
  <link rel="me" href="https://instagram.com/hacklabor.de" type="text/html">
  <link rel="me" href="https://www.youtube.com/channel/UC4o0yOLnUJ1tg9bd2QEolIg" type="text/html">
  <link rel="me" href="https://www.twitch.tv/hacklabor" type="text/html">
  <link rel="me" href="mailto:inbox@hacklabor.de">

  <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
  <link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ "/feed.xml" | prepend: site.baseurl | prepend: site.url }}">

  <link rel="stylesheet" href="/assets/css/styles.css">
  <link rel="stylesheet" href="/assets/css/leaflet.css" />
  <link href="https://use.fontawesome.com/releases/v5.15.4/css/all.css" rel="stylesheet">

  <link rel="apple-touch-icon" sizes="152x152" href="/assets/img/favicons/apple-touch-icon.png">
  <link rel="icon" type="image/png" href="/assets/img/favicons/favicon-32x32.png" sizes="32x32">
  <link rel="icon" type="image/png" href="/assets/img/favicons/favicon-16x16.png" sizes="16x16">
  <link rel="manifest" href="/assets/img/favicons/manifest.json">
  <link rel="mask-icon" href="/assets/img/favicons/safari-pinned-tab.svg" color="#5bbad5">
  <link rel="shortcut icon" href="/assets/img/favicons/favicon.ico">
  <meta name="msapplication-config" content="/assets/img/favicons/browserconfig.xml">
  <meta name="theme-color" content="#ffffff">


  <meta property="og:type" content="website">
  <meta property="og:title" content="{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}">
  <meta property="og:image" content="{% if page.image %}https://hacklabor.de{{ page.image }}{% endif %}">
  <meta property="og:description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160  }}{% endif %}">
  <meta property="og:site_name" content="Hacklabor">
  <meta property="og:locale" content="de_DE">

  <meta name="twitter:card" content="summary">
  <meta name="twitter:site" content="@hacklabor">
  <meta name="twitter:creator" content="@hacklabor">
  <meta name="twitter:title" content="{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}">
  <meta name="twitter:description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160  }}{% endif %}">
  <meta name="twitter:image" content="{% if page.image %}https://hacklabor.de{{ page.image }}{% endif %}">
  
  <meta name="referrer" content="strict-origin-when-cross-origin">
</head>
