{% if site.tags != "" %}
{% include collecttags.html %}
{% endif %}
<header class="site-header">
  <div id="metanav">
    <div class="container">

      <nav class="nav justify-content-end">
        <a class="nav-link" href="https://chaos.social/@hacklabor" title="Mastodon"><i class="fab fa-mastodon fa-lg"></i></a>
        <a class="nav-link" href="https://www.tiktok.com/@hacklabor" title="TikTok"><i class="fab fa-tiktok fa-lg"></i></a>
        <a class="nav-link" href="https://facebook.com/hacklabor" title="Facebook"><i class="fab fa-facebook fa-lg"></i></a>
        <a class="nav-link" href="https://instagram.com/hacklabor.de" title="Instagram"><i class="fab fa-instagram fa-lg"></i></a>
        <a class="nav-link" href="https://www.youtube.com/channel/UC4o0yOLnUJ1tg9bd2QEolIg" title="Youtube"><i class="fab fa-youtube fa-lg"></i></a>
        <a class="nav-link" href="https://www.twitch.tv/hacklabor" title="Twitch"><i class="fab fa-twitch fa-lg"></i></a>
        <a class="nav-link" href="https://gitlab.com/hacklabor" title="Gitlab"><i class="fab fa-gitlab fa-lg"></i></a>
        <a class="nav-link" href="http://shop.hacklabor.de" title="Merch Shop"><i class="fas fa-tshirt fa-lg"></i></a>
        <a class="nav-link" href="https://www.amazon.de/gp/registry/wishlist/2W8SE6FZMKAZE/" title="Amazon Wunschliste"><i class="fab fa-amazon fa-lg"></i></a>
      </nav>

    </div>
  </div>

  <div id="header">
    <div class="container">
      <div class="row">
        <div class="col-md-3">
          <a id="logolink" href="{{ site.baseurl }}/" title="Zur Startseite"><img src="/assets/img/logo-medium-invert.png" alt="Hacklabor Logo"></a>
        </div>

        <div class="col-md-9 mainnav">
          
          {% include open-ani.html %}

          <ul class="nav nav-inline">
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="{{ site.baseurl }}/" role="button" aria-haspopup="true" aria-expanded="false">Hacklabor</a>
              <div class="dropdown-menu">
                <a class="dropdown-item" href="{{ site.baseurl }}/mitmachen/">Mitmachen</a>
                <a class="dropdown-item" href="{{ site.baseurl }}/termine/">Termine</a>
                <a class="dropdown-item" href="{{ site.baseurl }}/standort/">Standort</a>
              </div>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{{ site.baseurl }}/blog/">Blog</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{{ site.baseurl }}/projekte/">Projekte</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{{ site.baseurl }}/verein/">Verein</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{{ site.baseurl }}/kontakt/">Kontakt</a>
            </li>
          </ul>

        </div>
      </div>
    </div>
  </div>

</header>
