<svg
   xmlns:dc="http://purl.org/dc/elements/1.1/"
   xmlns:cc="http://creativecommons.org/ns#"
   xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#"
   xmlns:svg="http://www.w3.org/2000/svg"
   xmlns="http://www.w3.org/2000/svg"
   version="1.1"
   id="svg4853"
   viewBox="0 0 1 1"
   height="100%"
   width="100%">
  <defs
     id="defs4855" />
  <metadata
     id="metadata4858">
    <rdf:RDF>
      <cc:Work
         rdf:about="">
        <dc:format>image/svg+xml</dc:format>
        <dc:type
           rdf:resource="http://purl.org/dc/dcmitype/StillImage" />
        <dc:title></dc:title>
      </cc:Work>
    </rdf:RDF>
  </metadata>
  <radialGradient id="gradientRadial" gradientUnits="userSpaceOnUse" cx="0%" cy="100%" r="50%">
    <stop stop-color="#FFFFFF" offset="0"/><stop stop-color="#32cd32" offset="1"/>
  </radialGradient>
  <g
     style="display:inline"
     transform="translate(-253.8717,-514.80537)"
     id="layer1">
    <g
       id="g3370">
      <rect
         y="0"
         x="0"
         height="1"
         width="1"
         id="rect4493"
         style="display:inline;fill:none;fill-opacity:1;fill-rule:evenodd;stroke:url(#gradientRadial);stroke-width:12;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1;image-rendering:auto">
      </rect>
      <g
         style="font-style:normal;font-variant:normal;font-weight:bold;font-stretch:normal;font-size:144.27558899px;line-height:125%;font-family:Hack;-inkscape-font-specification:'Hack, Bold';text-align:start;letter-spacing:0px;word-spacing:0px;writing-mode:lr-tb;text-anchor:start;display:inline;fill:url(#gradientRadial);fill-opacity:1;stroke:none;stroke-width:1px;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1"
         id="text4515">
        <path
           d="m 306.67414,606.27737 20.78188,0 0,40.08438 25.99497,0 0,-40.08438 20.78188,0 0,105.17746 -20.78188,0 0,-46.77685 -25.99497,0 0,46.77685 -20.78188,0 0,-105.17746 z"
           style="font-style:normal;font-variant:normal;font-weight:bold;font-stretch:normal;font-size:144.27558899px;line-height:125%;font-family:Hack;-inkscape-font-specification:'Hack, Bold';text-align:start;writing-mode:lr-tb;text-anchor:start"
           id="path4901" />
        <path
           d="m 418.61453,713.4978 q -6.41069,0 -11.62377,-1.76118 -5.14264,-1.76117 -8.94678,-5.35397 -7.53783,-7.11516 -7.53783,-19.86608 0,-6.76292 2.11341,-11.90555 2.18386,-5.14264 6.83336,-8.5241 8.94678,-6.55157 27.6857,-6.55157 l 14.30075,0 0,-3.45191 q 0,-2.60654 -0.98625,-4.50861 -0.91582,-1.90207 -2.60655,-3.09967 -1.83162,-1.3385 -4.6495,-1.90207 -2.74744,-0.63403 -6.41069,-0.63403 -3.38145,0 -6.97425,0.49313 -3.52236,0.42269 -6.97426,1.3385 -3.38146,0.91581 -7.04471,2.46564 -3.66325,1.47939 -7.46739,3.52236 l 0,-17.61177 q 2.95878,-1.1976 6.62202,-2.32475 3.7337,-1.1976 7.25605,-1.83163 2.88833,-0.56357 7.04471,-0.98625 4.15638,-0.42269 8.80588,-0.42269 4.9313,0 8.87633,0.56358 4.01548,0.56358 7.1856,1.62028 3.24057,1.05671 5.63577,2.5361 2.46564,1.47939 4.29727,3.24056 1.90207,1.90207 3.38146,4.36772 1.47939,2.46565 2.46565,5.84711 1.0567,3.31101 1.54983,7.60828 0.49313,4.22682 0.49313,9.72169 0,1.3385 -0.0704,3.52236 0,2.18386 -0.0704,4.7904 0,2.60654 -0.0704,5.42442 0,2.74744 -0.0704,5.21308 0,2.46565 -0.0705,4.36772 0,1.90207 0,2.74744 0,1.47939 0,2.95877 0.0705,1.47939 0.1409,2.46565 0.14089,1.40894 0.21134,2.81788 0.14089,1.3385 0.28179,2.25431 0.21134,1.40894 0.49313,2.74744 0.28179,1.26804 0.49313,1.97251 0.35223,1.05671 0.84536,2.18386 0.56358,1.12716 1.12715,1.90207 l -20.42964,0 q -0.63403,-1.0567 -1.1976,-2.18386 -0.49313,-1.12715 -0.77492,-1.90207 -0.21134,-0.70447 -0.49313,-1.97251 -0.28179,-1.3385 -0.42268,-2.74744 -3.87459,5.14264 -10.00349,8.03097 -2.95877,1.40894 -6.12889,2.11341 -3.09967,0.70447 -7.11515,0.70447 z m 5.77665,-14.30076 q 3.94504,0 7.11516,-1.47938 3.17012,-1.54984 5.42442,-4.71996 4.50861,-6.05844 4.50861,-17.18908 l 0,-1.40894 -8.2423,0 q -11.62377,0 -16.13238,2.95877 -4.57906,2.95878 -4.57906,10.00349 0,2.88833 0.77492,5.00174 0.77492,2.04296 2.3952,3.66325 3.17012,3.17011 8.73543,3.17011 z"
           style="font-style:normal;font-variant:normal;font-weight:bold;font-stretch:normal;font-size:144.27558899px;line-height:125%;font-family:Hack;-inkscape-font-specification:'Hack, Bold';text-align:start;writing-mode:lr-tb;text-anchor:start"
           id="path4903" />
        <path
           d="m 526.11675,712.01841 q -14.72344,0 -21.13412,-7.60828 -6.41068,-7.53784 -6.41068,-25.2905 l 0,-61.42984 -20.92278,0 0,-15.85059 41.56377,0 0,77.28043 q 0,9.22857 2.88833,13.1736 2.81788,3.87459 9.79214,3.87459 l 16.48461,0 0,15.85059 -22.26127,0 0,0 z"
           style="font-style:normal;font-variant:normal;font-weight:bold;font-stretch:normal;font-size:144.27558899px;line-height:125%;font-family:Hack;-inkscape-font-specification:'Hack, Bold';text-align:start;writing-mode:lr-tb;text-anchor:start"
           id="path4905" />
      </g>
      <g
         style="font-style:normal;font-variant:normal;font-weight:bold;font-stretch:normal;font-size:34.62614059px;line-height:125%;font-family:Hack;-inkscape-font-specification:'Hack, Bold';text-align:start;letter-spacing:0px;word-spacing:0px;writing-mode:lr-tb;text-anchor:start;display:inline;fill:url(#gradientRadial);fill-opacity:1;stroke:none;stroke-width:1px;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1"
         id="text4519">
        <path
           d="m 306.48566,730.28582 4.92002,0 0,10.212 q 0.54104,-1.57238 1.79218,-2.43465 1.26804,-0.86227 3.07712,-0.86227 2.67136,0 4.04085,1.77527 1.36949,1.80908 1.36949,5.32579 l 0,12.29161 -4.92002,0 0,-11.53078 q 0,-2.04578 -0.57485,-2.92496 -0.28743,-0.43959 -0.77774,-0.65939 -0.4734,-0.21979 -1.09897,-0.21979 -1.3864,0 -2.14723,1.18351 -0.76083,1.20042 -0.76083,3.31383 l 0,10.83758 -4.92002,0 0,-26.30775 z"
           style="letter-spacing:-0.27700913px"
           id="path4876" />
        <path
           d="m 332.48259,757.08388 q -1.53857,0 -2.78971,-0.42268 -1.23423,-0.42269 -2.14722,-1.28496 -1.80908,-1.70764 -1.80908,-4.76786 0,-1.6231 0.50722,-2.85733 0.52412,-1.23423 1.64,-2.04578 2.14723,-1.57238 6.64457,-1.57238 l 3.43218,0 0,-0.82846 q 0,-0.62557 -0.2367,-1.08206 -0.2198,-0.4565 -0.62557,-0.74393 -0.43959,-0.32123 -1.11588,-0.45649 -0.65939,-0.15217 -1.53857,-0.15217 -0.81155,0 -1.67382,0.11835 -0.84536,0.10145 -1.67382,0.32124 -0.81155,0.2198 -1.69073,0.59176 -0.87918,0.35505 -1.79217,0.84536 l 0,-4.22682 q 0.7101,-0.28743 1.58928,-0.55794 0.89609,-0.28743 1.74145,-0.43959 0.6932,-0.13526 1.69073,-0.2367 0.99753,-0.10145 2.11342,-0.10145 1.18351,0 2.13032,0.13526 0.96371,0.13526 1.72454,0.38887 0.77773,0.25361 1.35258,0.60866 0.59176,0.35505 1.03135,0.77774 0.45649,0.45649 0.81155,1.04825 0.35505,0.59175 0.59175,1.4033 0.25361,0.79465 0.37196,1.82599 0.11835,1.01444 0.11835,2.33321 0,0.32124 -0.0169,0.84536 0,0.52413 -0.0169,1.1497 0,0.62557 -0.0169,1.30186 0,0.65939 -0.0169,1.25114 0,0.59176 -0.0169,1.04825 0,0.4565 0,0.65939 0,0.35505 0,0.7101 0.0169,0.35506 0.0338,0.59176 0.0338,0.33815 0.0507,0.67629 0.0338,0.32124 0.0676,0.54103 0.0507,0.33815 0.11836,0.65939 0.0676,0.30433 0.11835,0.4734 0.0845,0.25361 0.20288,0.52413 0.13526,0.27052 0.27052,0.4565 l -4.90312,0 q -0.15216,-0.25361 -0.28742,-0.52413 -0.11835,-0.27052 -0.18598,-0.4565 -0.0507,-0.16907 -0.11835,-0.4734 -0.0676,-0.32124 -0.10144,-0.65939 -0.92991,1.23424 -2.40084,1.92744 -0.71011,0.33814 -1.47093,0.50722 -0.74393,0.16907 -1.70764,0.16907 z m 1.3864,-3.43218 q 0.94681,0 1.70763,-0.35506 0.76083,-0.37196 1.30187,-1.13278 1.08206,-1.45403 1.08206,-4.12538 l 0,-0.33815 -1.97815,0 q -2.78971,0 -3.87177,0.71011 -1.09898,0.7101 -1.09898,2.40083 0,0.6932 0.18598,1.20042 0.18598,0.49031 0.57485,0.87918 0.76083,0.76083 2.09651,0.76083 z"
           style="letter-spacing:-0.27700913px"
           id="path4878" />
        <path
           d="m 356.55208,757.08388 q -4.44661,0 -6.89817,-2.63754 -2.46847,-2.65444 -2.46847,-7.30395 0,-4.66641 2.48537,-7.33777 2.48538,-2.63754 6.83055,-2.63754 1.55547,0 2.97569,0.35506 1.4033,0.35505 2.80661,1.09897 l 0,4.53116 q -0.54104,-0.47341 -1.16661,-0.82846 -0.60866,-0.37196 -1.20041,-0.60866 -0.59176,-0.23671 -1.28496,-0.35506 -0.6932,-0.13525 -1.42021,-0.13525 -1.26805,0 -2.18104,0.40577 -0.89609,0.38887 -1.52166,1.13279 -1.30186,1.55547 -1.30186,4.37899 0,2.82352 1.30186,4.36208 1.28496,1.52166 3.71961,1.52166 1.42021,0 2.68826,-0.49031 0.54103,-0.20289 1.14969,-0.55794 0.62557,-0.35506 1.21733,-0.89609 l 0,4.54806 q -0.67629,0.38887 -1.33568,0.64248 -0.64248,0.25361 -1.35258,0.43959 -0.71011,0.18598 -1.43712,0.27051 -0.72702,0.10145 -1.6062,0.10145 z"
           style="letter-spacing:-0.27700913px"
           id="path4880" />
        <path
           d="m 368.17781,730.28582 4.95384,0 0,13.81326 5.95137,-6.44168 6.00209,0 -7.1687,7.06725 7.57447,11.86892 -5.47796,0 -5.19054,-8.85943 -1.69073,1.6231 0,7.23633 -4.95384,0 0,-26.30775 z"
           style="letter-spacing:-0.27700913px"
           id="path4882" />
        <path
           d="m 399.11167,756.72883 q -3.53363,0 -5.07219,-1.82599 -1.53856,-1.80908 -1.53856,-6.06972 l 0,-14.74316 -5.02147,0 0,-3.80414 9.9753,0 0,18.5473 q 0,2.21485 0.6932,3.16166 0.67629,0.9299 2.35012,0.9299 l 3.9563,0 0,3.80415 -5.3427,0 0,0 z"
           style="letter-spacing:-0.27700913px"
           id="path4884" />
        <path
           d="m 414.6937,757.08388 q -1.53856,0 -2.7897,-0.42268 -1.23423,-0.42269 -2.14723,-1.28496 -1.80908,-1.70764 -1.80908,-4.76786 0,-1.6231 0.50722,-2.85733 0.52413,-1.23423 1.64001,-2.04578 2.14723,-1.57238 6.64457,-1.57238 l 3.43218,0 0,-0.82846 q 0,-0.62557 -0.23671,-1.08206 -0.21979,-0.4565 -0.62557,-0.74393 -0.43958,-0.32123 -1.11588,-0.45649 -0.65938,-0.15217 -1.53856,-0.15217 -0.81155,0 -1.67382,0.11835 -0.84537,0.10145 -1.67383,0.32124 -0.81155,0.2198 -1.69072,0.59176 -0.87918,0.35505 -1.79218,0.84536 l 0,-4.22682 q 0.71011,-0.28743 1.58929,-0.55794 0.89608,-0.28743 1.74145,-0.43959 0.6932,-0.13526 1.69073,-0.2367 0.99753,-0.10145 2.11341,-0.10145 1.18351,0 2.13032,0.13526 0.96372,0.13526 1.72454,0.38887 0.77774,0.25361 1.35259,0.60866 0.59175,0.35505 1.03134,0.77774 0.4565,0.45649 0.81155,1.04825 0.35506,0.59175 0.59176,1.4033 0.25361,0.79465 0.37196,1.82599 0.11835,1.01444 0.11835,2.33321 0,0.32124 -0.0169,0.84536 0,0.52413 -0.0169,1.1497 0,0.62557 -0.0169,1.30186 0,0.65939 -0.0169,1.25114 0,0.59176 -0.0169,1.04825 0,0.4565 0,0.65939 0,0.35505 0,0.7101 0.0169,0.35506 0.0338,0.59176 0.0338,0.33815 0.0507,0.67629 0.0338,0.32124 0.0676,0.54103 0.0507,0.33815 0.11835,0.65939 0.0676,0.30433 0.11835,0.4734 0.0845,0.25361 0.20289,0.52413 0.13526,0.27052 0.27052,0.4565 l -4.90312,0 q -0.15217,-0.25361 -0.28742,-0.52413 -0.11836,-0.27052 -0.18598,-0.4565 -0.0507,-0.16907 -0.11836,-0.4734 -0.0676,-0.32124 -0.10144,-0.65939 -0.9299,1.23424 -2.40084,1.92744 -0.7101,0.33814 -1.47093,0.50722 -0.74392,0.16907 -1.70764,0.16907 z m 1.3864,-3.43218 q 0.94681,0 1.70764,-0.35506 0.76083,-0.37196 1.30186,-1.13278 1.08207,-1.45403 1.08207,-4.12538 l 0,-0.33815 -1.97816,0 q -2.7897,0 -3.87177,0.71011 -1.09897,0.7101 -1.09897,2.40083 0,0.6932 0.18598,1.20042 0.18598,0.49031 0.57485,0.87918 0.76083,0.76083 2.0965,0.76083 z"
           style="letter-spacing:-0.27700913px"
           id="path4886" />
        <path
           d="m 439.40568,757.08388 q -1.74145,0 -2.99259,-0.82846 -1.26805,-0.82846 -2.04579,-2.46846 l -0.49031,2.80661 -4.44662,0 0,-26.30775 4.93693,0 0,10.05984 q 0.913,-1.58929 2.13032,-2.36703 0.59176,-0.38886 1.26805,-0.57484 0.6932,-0.20289 1.55547,-0.20289 1.6231,0 2.90806,0.65938 1.28495,0.64248 2.18104,1.91053 0.86227,1.21732 1.33567,3.06022 0.47341,1.82599 0.47341,4.29445 0,2.3163 -0.43959,4.19301 -0.43959,1.8598 -1.35259,3.17857 -0.91299,1.30186 -2.18104,1.94434 -1.25114,0.64248 -2.84042,0.64248 z m -1.57238,-4.05775 q 1.60619,0 2.51919,-1.55547 0.91299,-1.53857 0.91299,-4.29446 0,-2.73898 -0.91299,-4.29445 -0.913,-1.55547 -2.51919,-1.55547 -1.58929,0 -2.53609,1.55547 -0.92991,1.53856 -0.92991,4.29445 0,2.75589 0.92991,4.29446 0.9468,1.55547 2.53609,1.55547 z"
           style="letter-spacing:-0.27700913px"
           id="path4888" />
        <path
           d="m 457.87887,757.08388 q -2.16414,0 -3.75342,-0.72702 -1.58929,-0.74392 -2.65445,-1.94433 -1.18351,-1.33568 -1.77526,-3.19548 -0.59176,-1.85981 -0.59176,-4.09157 0,-2.26558 0.59176,-4.09156 0.60866,-1.8429 1.77526,-3.16167 1.16661,-1.31877 2.7728,-1.99506 1.6231,-0.67629 3.61816,-0.67629 2.0796,0 3.68579,0.71011 1.60619,0.69319 2.72208,1.94433 1.11588,1.25114 1.74145,3.07713 0.62557,1.80908 0.62557,4.20992 0,2.26558 -0.59176,4.09156 -0.59175,1.82599 -1.75836,3.16167 -1.11588,1.26805 -2.73898,1.97815 -1.60619,0.71011 -3.66888,0.71011 z m -0.0169,-4.02394 q 1.79217,0 2.80661,-1.55547 1.01444,-1.57238 1.01444,-4.37899 0,-2.77279 -1.01444,-4.34517 -0.52412,-0.81155 -1.23423,-1.18351 -0.71011,-0.37196 -1.57238,-0.37196 -0.94681,0 -1.64001,0.42268 -0.67629,0.40577 -1.14969,1.13279 -1.01444,1.57238 -1.01444,4.34517 0,2.80661 1.01444,4.37899 1.01444,1.55547 2.7897,1.55547 z"
           style="letter-spacing:-0.27700913px"
           id="path4890" />
        <path
           d="m 472.07449,737.6574 4.46353,0 0.49031,2.94187 q 0.74392,-1.64001 2.23176,-2.51919 0.76083,-0.43959 1.64001,-0.65939 0.87918,-0.21979 1.82599,-0.21979 0.50722,0 1.04825,0.0676 0.54103,0.0507 0.99753,0.16907 0.49031,0.13526 0.98062,0.33815 0.49031,0.18598 0.86227,0.38887 l 0,4.71713 q -0.81155,-0.74392 -1.89361,-1.11588 -0.54104,-0.18598 -1.1497,-0.27052 -0.59175,-0.10144 -1.23423,-0.10144 -1.58929,0 -2.75589,0.54103 -1.18351,0.54104 -1.82599,1.58929 -0.16907,0.27051 -0.32124,0.65938 -0.15216,0.38887 -0.2367,0.913 -0.0845,0.49031 -0.13526,1.13278 -0.0338,0.64248 -0.0338,1.64001 l 0,8.72417 -4.95384,0 0,-18.93617 z"
           style="letter-spacing:-0.27700913px"
           id="path4892" />
        <path
           d="m 498.89988,757.30367 q -0.65939,0 -1.16661,-0.2367 -0.50722,-0.21979 -0.9299,-0.64248 -0.87918,-0.87918 -0.87918,-2.21485 0,-1.3864 0.87918,-2.26558 0.86227,-0.86227 2.11341,-0.86227 0.60867,0 1.1497,0.21979 0.54103,0.20289 0.98062,0.64248 0.86228,0.86227 0.86228,2.26558 0,1.35258 -0.86228,2.21485 -0.87918,0.87918 -2.14722,0.87918 z"
           style="letter-spacing:-0.27700913px"
           id="path4894" />
        <path
           d="m 517.42378,757.08388 q -1.57238,0 -2.84042,-0.64248 -1.25114,-0.64248 -2.16414,-1.94434 -1.79217,-2.58681 -1.79217,-7.37158 0,-4.78476 1.82599,-7.35467 0.86227,-1.21733 2.13032,-1.89362 1.26804,-0.67629 2.94187,-0.67629 0.81155,0 1.50474,0.18598 0.6932,0.16907 1.33568,0.59175 1.20042,0.79465 2.11341,2.36703 l 0,-10.05984 4.93693,0 0,26.30775 -4.44662,0 -0.49031,-2.80661 q -0.38886,0.82845 -0.91299,1.45402 -0.52413,0.60867 -1.13279,1.01444 -1.25114,0.82846 -3.0095,0.82846 z m 1.58929,-4.05775 q 1.58928,0 2.53609,-1.55547 0.9299,-1.53857 0.9299,-4.29446 0,-2.75589 -0.9299,-4.29445 -0.94681,-1.55547 -2.53609,-1.55547 -1.6062,0 -2.51919,1.55547 -0.91299,1.55547 -0.91299,4.29445 0,2.75589 0.91299,4.29446 0.91299,1.55547 2.51919,1.55547 z"
           style="letter-spacing:-0.27700913px"
           id="path4896" />
        <path
           d="m 540.90152,757.08388 q -2.46846,0 -4.27754,-0.62557 -1.79218,-0.64248 -3.06022,-1.92743 -2.51919,-2.56991 -2.51919,-7.30395 0,-2.36703 0.59176,-4.17611 0.60866,-1.80908 1.82598,-3.16166 2.40084,-2.68826 6.62766,-2.68826 1.99506,0 3.65198,0.60866 1.65691,0.59176 2.85733,1.87671 1.20042,1.28496 1.75836,3.07713 0.55794,1.77527 0.55794,3.95631 l 0,2.01196 -12.83264,0 q 0.0338,2.24867 1.31877,3.33074 1.30187,1.09898 3.87177,1.09898 1.70764,0 3.38146,-0.49032 0.77774,-0.2367 1.64001,-0.60866 0.86227,-0.37196 1.82599,-0.94681 l 0,4.54807 q -1.72455,0.7101 -3.51672,1.06516 -0.91299,0.18598 -1.8598,0.27051 -0.9299,0.0845 -1.8429,0.0845 z m 3.02641,-12.07181 q -0.0338,-1.97815 -0.99753,-2.97568 -0.4565,-0.47341 -1.18351,-0.72702 -0.71011,-0.27051 -1.65692,-0.27051 -1.74145,0 -2.75589,1.03134 -1.01443,1.04825 -1.20041,2.95878 l 7.79426,-0.0169 z"
           style="letter-spacing:-0.27700913px"
           id="path4898" />
      </g>
    </g>
  </g>
</svg>
