<div id="map"></div>
<link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css">
<script type="text/javascript" src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"></script>
<script type="text/javascript">
var map = L.map('map').setView([53.601199177456614, 11.417967975139618], 17);
var iconHal = L.icon({
    iconUrl: '/assets/img/icon-hal.png',
    iconRetinaUrl: '/assets/img/icon-hal.png',
    iconSize: [50, 50],
    iconAnchor: [-10, 0],
    popupAnchor: [-3, -56]
});

L.marker([53.601199177456614, 11.417967975139618], {icon: iconHal}).addTo(map);

L.tileLayer('https://tiles.stadiamaps.com/tiles/stamen_toner_lite/{z}/{x}/{y}{r}.png', {
    maxZoom: 20,
    attribution: '&copy; <a href="https://stadiamaps.com/" target="_blank">Stadia Maps</a>, &copy; <a href="https://openmaptiles.org/" target="_blank">OpenMapTiles</a> &copy; <a href="https://www.openstreetmap.org/about" target="_blank">OpenStreetMap</a> contributors',
}).addTo(map);
</script>
<small><a href="http://www.openstreetmap.org/?mlat=53.60115&amp;mlon=11.41833#map=19/53.60115/11.41833">Größere Karte anzeigen</a></small>
