<p>Das Hacklabor ist immer <b>mittwochs und freitags ab 1900 Uhr geöffnet</b>. Wir freuen uns auf euren Besuch!
Zusätzliche Termine und Veranstaltungen werden auf <a href="https://chaos.social/@hacklabor">Mastodon</a>, <a href="https://facebook.com/hacklabor">Facebook</a>, in diesem 
<a href="https://calendar.google.com/calendar/ical/8nmenla7rbsnj24tqlbrl50jmc%40group.calendar.google.com/public/basic.ics">iCal</a>, <a href="/kontakt/#mailingliste">per Mail</a> und hier bekannt gegeben.</p>
