---
layout: default
---
<div class="post">
    <h1>Blogartikel - Tag: {{ page.tag }}</h1>
    <ul>
        {% for post in site.tags[page.tag] %}
        <li><a href="{{ post.url }}">{{ post.title }}</a> ({{ post.date | date: "%b %-d, %Y" }})<br>
            {{ post.description }}
        </li>
        {% endfor %}
    </ul>
</div>